@import '../../../styles/utils/variables';
@import '../../../styles/utils/func';
@import '../../../styles/utils/mixin';

.header{
  padding: 17px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo{
    width: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .buttons{
    display: flex;
    gap: 10px;

    & button{
      width: 100px;
    }
  }

  @include breakpoint(tablet) {
    padding: 17px 32px;
  }

  @include breakpoint(laptop) {
    padding: 17px 60px;
  }

  @include breakpoint(desktop) {
    padding: 17px 0;
  }
}
